/*Nav*/
ul {
  list-style: none;
  font-size: 0; }

li {
  display: inline-block;
  width: 25vh;
  position: relative;
  font-size: 14px; }

ul ul {
  position: absolute;
  display: none; }

ul ul li {
  display: block; }

ul li:hover ul {
  display: block; }

.navegador {
  position: sticky;
  background-color: #0071ce;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navegador .navegador__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: auto; }
  .navegador .navegador__links {
    list-style: none;
    display: inline-block;
    margin-bottom: 20px; }
  .navegador .navegador__item {
    display: inline-block;
    padding-top: 10px; }
  .navegador .navegador__link {
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: white; }
  .navegador .navegador__link--active {
    font-weight: 900;
    text-decoration: overline;
    border-bottom: 1px solid #f7b644;
    color: white; }
  .navegador .navegador__submenu {
    background-color: #0071ce; }

/*footer*/
footer {
  background-color: #0071ce;
  width: 100%; }

.footer {
  position: top;
  bottom: 0;
  height: 300px;
  padding-top: 10px; }
  .footer .footer__content {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    color: white;
    margin-right: 40px; }
  .footer .footer__links {
    display: list-item; }
  .footer .footer__item {
    display: list-item; }
  .footer .footer__link {
    text-decoration: none;
    display: list-item;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    color: white; }
  .footer .footer__write {
    text-decoration: none;
    display: block;
    position: top;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: white; }
  .footer .redes {
    margin-left: 4vh; }
  .footer .link__social {
    text-decoration: none;
    color: white; }
  .footer .footer__empresa {
    display: flex;
    height: 50px;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    background-color: #0071ce;
    color: white;
    padding-top: 25px; }

.primeralinea__titulo {
  color: #2E33AB;
  font-weight: bold;
  font-size: 8vh; }

.primeralinea__titulo--2 {
  color: #0071ce;
  font-weight: bold;
  font-size: 8vh; }

.parrafo__principal {
  color: gray;
  font-size: 18px;
  margin-top: 5vh;
  margin-bottom: 5vh; }

.boton__contactanosprincipal {
  background-color: #2E33AB;
  border-radius: 20px;
  height: 50px;
  width: 120px;
  margin-bottom: 0; }

.imagen__seccion {
  width: 400px;
  height: 400px;
  display: flex;
  margin-bottom: 15vh;
  margin-left: 10vh; }
  .imagen__seccion:hover {
    transform: scale(1.2); }

.imagen__seccion--2 {
  width: 480px;
  height: 480px;
  display: flex;
  padding-top: 5vh; }

.imagen__seccion--3 {
  width: 400px;
  height: 400px;
  display: flex;
  margin-left: 10vh;
  margin-top: 3vh; }
  .imagen__seccion--3:hover {
    transform: scale(1.2); }

.imagen__seccion--4 {
  width: 380px;
  height: 380px;
  display: flex;
  margin-bottom: 20vh; }

.imagen__seccion--5 {
  width: 380px;
  height: 380px;
  display: flex;
  margin-top: 5vh;
  margin-bottom: 20vh; }
  .imagen__seccion--5:hover {
    transform: scale(1.2); }

.imagen__seccion--6 {
  width: 400px;
  height: 400px;
  display: flex;
  margin-left: 10vh;
  margin-top: 2vh; }
  .imagen__seccion--6:hover {
    transform: scale(1.2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*BODY*/
body {
  font-family: Poppins;
  font-size: 15px; }

.portada__bienvenida {
  height: 70vh; }

.titulo__principal {
  margin-top: 10vh; }

.bold_rosa {
  color: #e63c49; }

.bold_azulfuerte {
  color: #2E33AB; }

.bold_amarillo {
  color: #f7b644; }

.boton__contactanos {
  background-color: #f7b644;
  border-radius: 20px;
  height: 50px;
  width: 120px;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }

.logosclientes {
  height: 25vh;
  margin-bottom: 15vh; }

.boton__link {
  text-decoration: none;
  color: white;
  font-size: 14px; }

.primera__tarjeta {
  margin-top: 5vh;
  margin-bottom: 10vh;
  height: 75vh; }

.subtitulo__seccion {
  color: #e63c49;
  font-weight: bold;
  margin-bottom: 3vh;
  font-size: 40px; }

.parrafo__seccion {
  color: gray;
  margin-bottom: 3vh;
  font-size: 25px; }

.boton__vermas {
  background-color: #e63c49;
  border-radius: 20px;
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }

.subtitulo__seccion--2 {
  color: #0071ce;
  font-weight: bold;
  font-size: 40px; }

.boton__vermas--azul {
  background-color: #0071ce;
  border-radius: 20px;
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }

.boton__vermas--amarillo {
  background-color: #f7b644;
  border-radius: 20px;
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }

.imagenes__soluciones {
  display: flex;
  justify-content: space-between; }

.boton__vermas--centro {
  background-color: #0071ce;
  border-radius: 20px;
  height: 50px;
  width: 120px;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }

.subtitulo__seccion--3 {
  color: #f7b644;
  font-weight: bold;
  display: flex;
  justify-content: center; }

.img__logoclientes {
  margin: auto;
  display: inline-block;
  width: 25vh; }

.boton__vermas--centro--2 {
  background-color: #f7b644;
  border-radius: 20px;
  height: 50px;
  width: 120px;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }

.soluciones__digitales {
  height: 75vh; }

.subtitulo__seccion--4 {
  color: #2E33AB;
  font-weight: bold;
  margin-bottom: 3vh;
  font-size: 40px; }

.subtitulo__seccion--5 {
  color: #f7b644;
  font-weight: bold;
  margin-bottom: 3vh;
  font-size: 40px; }
