@import "variables";

.primeralinea__titulo {
    color: $azulfuerte;
    font-weight: bold;
    font-size: 8vh;
}

.primeralinea__titulo--2 {
    color: $azul;
    font-weight: bold;
    font-size: 8vh;
}

.parrafo__principal {
    color: gray;
    font-size: 18px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.boton__contactanosprincipal{
    background-color: $azulfuerte;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    margin-bottom: 0;

    }

.imagen__seccion--2 {
    width: 480px;
    height: 480px;
    display: flex;
    padding-top: 5vh;
}

.imagen__seccion--3 {
    width: 400px;
    height: 400px;
    display: flex;
    margin-left: 10vh;
    margin-top: 3vh;
    &:hover {
        transform: scale(1.2);
    }
}

.imagen__seccion--4 {
    width: 380px;
    height: 380px;
    display: flex;
    margin-bottom: 20vh;
}

.imagen__seccion--5 {
    width: 380px;
    height: 380px;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 20vh;

    &:hover {
        transform: scale(1.2);
    }
}

.imagen__seccion--6 {
    width: 400px;
    height: 400px;
    display: flex;
    margin-left: 10vh;
    margin-top: 2vh;
    &:hover {
        transform: scale(1.2);
    }
}


