.social {
    background-color: #2e33ab;
    width: 50px;
    position: absolute;
    top: $header_alto + 20;
    right: 20px;
    ul {
        list-style: none;
        padding: 1rem;
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li {
            transition: all 1s ease;
            a {
                color: $blanco;
                text-decoration: none;
                font-size: 1.5rem;
            } &:hover {
                background-color: $amarillo;
            }
        }
    }
}