@import "navegador";
@import "footer";
@import "generales";
@import "social";
@import "variables";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body{
    font-family: Poppins;
    font-size: 15px;
}

.imagen__seccion {
    width: 300px;
    height: 300px;
    display: flex;
    margin-top: 55px;
    margin-left: 150px;

    &:hover {
        transform: scale(1.2);
    }
    }


.bold_rosa {
    color: $rosafuerte;
}

.boton__contactanos{
background-color: $amarillo;
border-radius: 20px;
height: 50px;
width: 120px;
margin: auto;
display: flex;
justify-content: center;
justify-items: center;
align-items: center;
}

.boton__link {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.espacio {
    height: 35px;
}

.espacio--2{
    height: 80px;
}

.primera__tarjeta {
  padding-top: 15vh;
}

.subtitulo__seccion--animacion {
    animation-name: animacion_subtitulos;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-delay: 0.5s;
    color: $rosafuerte;
    font-weight: bold;
}

@keyframes animacion_subtitulos {
    0% {

    }
    25%{
        opacity: 75%;
    }
    50% {
        opacity: 50%;
    }
    75%{
        opacity: 25%;
    }
    100%{
        opacity: 0%;
    }
}

.parrafo__seccion {
    color: gray;
}

.boton__vermas{
    background-color: $rosafuerte;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;  
}

.subtitulo__seccion--2 {
    color: $azul;
    font-weight: bold;
}

.imagenes__soluciones{
    display: flex;
    justify-content: space-between;
}

.boton__vermas--centro{
    background-color: $azul;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.subtitulo__seccion--3 {
    color: $amarillo;
    font-weight: bold;  
}

.img__logoclientes {
    margin: auto;
    display: inline-block;
    width: 25vh;
}

.boton__vermas--centro--2 {
    background-color: $amarillo;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


/*página soluciones digitales*/
.portada__img {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}













