@import "navegador";
@import "footer";
@import "generales";
@import "social";
@import "variables";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body{
    font-family: Poppins;
    font-size: 15px;
}

.portada__bienvenida{
    height: 70vh;
}

.titulo__principal {
    margin-top: 10vh;
}

.imagen__seccion {
    width: 400px;
    height: 400px;
    display: flex;
    margin-bottom: 15vh;
    margin-left: 10vh;

    &:hover {
        transform: scale(1.2);
    }
    }


.bold_rosa {
    color: $rosafuerte;
}

.boton__contactanos{
background-color: $amarillo;
border-radius: 20px;
height: 50px;
width: 120px;
margin: auto;
display: flex;
justify-content: center;
justify-items: center;
align-items: center;
}

.logosclientes {
    height: 25vh;
    margin-bottom: 15vh;
}

.boton__link {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.primera__tarjeta {
  margin-top: 5vh;
  margin-bottom: 10vh;
  height: 75vh;
}

.subtitulo__seccion {
    color: $rosafuerte;
    font-weight: bold;
    margin-bottom: 3vh;
    font-size: 40px;
}

.parrafo__seccion {
    color: gray;
    margin-bottom: 3vh;
    font-size: 25px;

}

.boton__vermas{
    background-color: $rosafuerte;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;  
}

.subtitulo__seccion--2 {
    color: $azul;
    font-weight: bold;
    font-size: 40px;
}

.boton__vermas--azul {
    background-color: $azul;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;  
}

.imagenes__soluciones{
    display: flex;
    justify-content: space-between;
}

.boton__vermas--centro{
    background-color: $azul;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.subtitulo__seccion--3 {
    color: $amarillo;
    font-weight: bold;  
    display: flex;
    justify-content: center;
}

.img__logoclientes {
    margin: auto;
    display: inline-block;
    width: 25vh;
}

.boton__vermas--centro--2 {
    background-color: $amarillo;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.soluciones__digitales{
    height: 75vh;
}


/*página soluciones digitales*/
.portada__img {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}













